.Body {
    background-color: black;
}
.Header {
    position: relative;
    border-style: dashed;
    border-color: white;
    padding: 2px;
}
.Name {
    background-color: purple;
}
.links{
    background-image: url("images/perfect_hue_125.jpg");
    text-decoration: none;
    color: white;
}
.footer{
    position: absolute;
    background-color: purple;
    bottom: 0;
    left: 0;
    padding: 2px;
    margin: 2px;
}