.Body {
    background-image: url("images/perfect_hue_125.jpg");
    background-size: cover;
}
.big{
    margin: auto;
    width: fit-content;
}
.small1 {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 10px black;
    border: 1px white solid;
    color: white;
    text-align: center;
    display : inline-block;
}
.small2 {
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 10px black;
    border: 1px white solid;
    color: white;
    display : inline-block;
}
.links{
    text-decoration: none;
    color: white;
}
.overflow {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    max-height: 40px;
}
.footer{
    position: relative;
    padding: 2px;
    margin: 2px;
}