.Body {
    background-image: url("images/perfect_hue_125.jpg");
    background-size: cover;
}
.Name {
    animation: colorRotate 6s linear 0s infinite;
}
.big{
    margin: auto;
    width: fit-content;
}
.small1 {
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 10px black;
    border: 1px white solid;
    color: white;
    text-align: center;
    display : inline-block;
}
.small2 {
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 10px black;
    border: 1px white solid;
    color: white;
    display : inline-block;
}
.Nightcore {
    animation: NightcoreColor 6s linear 0s infinite;
    -webkit-text-stroke: black 2px;
}
.personbox {
    padding: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 10px black;
    border: 1px white solid;
    color: white;
    display: inline-block;
    animation: colorRotateB 2s linear 0s infinite;
}
.links{
    text-decoration: none;
    color: white;
}
.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 2px;
    margin: 2px;
    overflow: hidden;
    max-height: 30px;
}
@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
@keyframes colorRotateB {
  from {
    border-color: #6666ff;
  }
  10% {
    border-color: #0099ff;
  }
  50% {
    border-color: #00ff00;
  }
  75% {
    border-color: #ff3399;
  }
  100% {
    border-color: #6666ff;
  }
}
@keyframes NightcoreColor {
  from {
  color: #7219a2;
  }
  50% {
    color: #1500ff;
  }
  100%{
  color: #7219a2;
  }
}